* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* This ensures padding and border are included in width/height calculations */
}

body {
     background: linear-gradient(to right ,#A3D9BA,#F5E5C2 ); 
 
}

#flexcon {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    overflow-x: hidden; 
}

#block {
    height: 90vh;
    width: 23%;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    top: 20px;
    gap: 5vh;
}

#maincontainer {
    height: 65vh;
    width: 100%;
    background: #EAF5EE;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maincontainer input,
#maincontainer select {
    height: 20px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
  
}

#maincontainer select {
    border: transparent; border: 1px solid black;
}

#maincontainer label {
    color: #14BD6B;
    font-weight: 666;
    margin-bottom: 5px; 
}

#maincontainer h3 {
    position: relative;
    top: -10px;
    color: #14BD6B;
}

#sariname{
    position: absolute;
    left: 40px;
    top: 30px;
}
#submit{
    height: 40px;
    width: 80%;
margin-top: 20px;
border: transparent;
transition: all 0.2s ease-in;
font-size: 20px;
font-weight: 666;
color:#EAF5EE;
background-color: #14BD6B;
}
#submit:hover{
    border-radius: 20px;
    color: #14BD6B;
    background-color: #EAF5EE;
    border: 1px solid black;
}
#smallcon {
    height: 20vh;
    width: 100%;
    background:#EAF5EE;
    border-radius: 25px;
    text-align: center ;
    display: block;
}
#smallcon h3, p{
    margin-top: 10px;
    color: #14BD6B;
}
#smallcon input{
    height: 20px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
}

#maincontainer2 {
  
    width: 70%;
    
}
#smalltwo{
    height: 580px;
    width: 100%;
    background:#EAF5EE ;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around  ;
    flex-wrap: wrap;
    margin-top: 28px;
    
}
#smalltwo1{
    height: 250px;
    width: 25%;
    background: #F9FCF8;
    border-radius: 20px;
}

#smalltwo2{
    height: 250px;
    width: 70%;
    background: #F9FCF8;
    border-radius: 20px;
}
#smalltwo3{
    height: 250px;
    width: 70%;
    background: #F9FCF8;
    border-radius: 20px;
}
#smalltwo4{
    height: 250px;
    width: 25%;
    background: #F9FCF8;
    border-radius: 20px;
}
